 body{
    font-family: "Bona Nova SC", serif;
 }
  body{
   font-family: "Roboto", sans-serif;
   background:rgb(150, 40, 172);
   color:rgb(241, 116, 255);
   margin:0px;
   margin-bottom:100px;


}
.chamada{
   background: rgb(255, 212, 251);
   display: flex;
   justify-content: center;
   padding-bottom: 80px;
   padding-bottom: 80px;
}
header{
   color:white;
   font-size:35px;
   border-bottom:3px solid rgb(66, 6, 71) ;
   padding: 20px;

}
.chamada-texto{
   margin-right: 5%;
}
h1{
   font-size: 36px;
}
.categoria{
   margin-top: 50px;
   padding-left: 20px;
   padding-right: 20px;

}
.categoria-videos{
   display: flex;
   overflow-x: auto;
   gap: 10px;
}
.categoria-videos{
   height: 200px;
   opacity: 0.5;
}
.categoria-videos img:hover{
   opacity: 1.0;
   border: 3px solid white
}